<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1>Home page</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat officia recusandae repellendus in, nesciunt
        maiores consequuntur rerum optio eius hic et quisquam veritatis voluptatibus unde, sequi tenetur sed ut?
        Aliquam?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat expedita error quod. Quae voluptatum
        voluptates, qui magni explicabo voluptate at neque odit vitae recusandae laborum blanditiis soluta assumenda
        maxime. Nisi?
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus quas fugiat, aliquam deleniti omnis veniam
        tempore aspernatur officia illum quo! Doloremque magnam, iste atque labore suscipit quis odit. Architecto,
        libero?
    </p>
</body>

</html>